* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header {
    background-color: white;
    padding-top: 16px;
    padding-bottom: 16px;
}

nav {
    width: 82%;
    max-width: 1360px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .center-items {
    display: flex;
    gap: 32px;
    list-style-type: none;
    font-size: 16px;
    font-weight: medium;
    color: black;
}

.ci-hov:hover {
    cursor: pointer;
    color: rgba(70, 145, 101, 1);
    font-weight: 600;
}
nav button {
    font-size: 16px;
    font-weight: semibold;
    color: white;
    background-color: rgba(70, 145, 101, 1);
    width: 164px;
    height: 44px;
    border-radius: 4px;
    border: none;
}

nav button:hover {
    background-color: rgb(12, 76, 41); 
    transform: translateY(-2px);       
    box-shadow: 0 6px 14px rgba(0,0,0,0.2);
}



/* Hero section */

.hero-section {
    /* display: flex;
    justify-content: center; */
    background-image: url('../assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-top {
    display: flex;
    justify-content: center;
    padding-top: 135px;
    padding-bottom: 32px;
}
.text-center {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 1000px;
    width: 229px;
    height: 35px;
}

.gea {
    font-size: 16px;
    font-weight: medium;
    color: #30B868;
    margin-left: 8px;
}

.hero-text {
    display: flex;
    justify-content: center;
    font-size: 32px;
    color: white;
    width: 711px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 32px;

}

.not-just {
    color: #30B868;
}

.hero-subtext {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: white;
    padding-bottom: 32px;
    max-width: 700px;
}

.h-bottom-btn {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding-bottom: 155px;
}

.hero-b-btn1 {
    font-size: 16px;
    font-weight: semibold;
    color: white;
    background-color: rgba(70, 145, 101, 1);
    width: 251px;
    height: 52px;
    border-radius: 4px;
    border: none;
}

.hero-b-btn1:hover {
    background-color: rgb(12, 76, 41);
    transform: translateY(-2px);     
    box-shadow: 0 6px 14px rgba(0,0,0,0.2);
}

.hero-b-btn1 i {
  margin-left: 12px;
}

.hero-b-btn2 {
    font-size: 16px;
    font-weight: semibold;
    color: rgb(255, 255, 255);
    background-color: transparent;
    width: 199px;
    height: 52px;
    border-radius: 4px;
    border: white 1px solid;
}

.hero-b-btn2:hover {
    background-color: #ffffff;
    color: #000000;
}

.hero-b-btn2 i {
  margin-right: 12px;
}


/* Card section CSS ---------------------------------------------------------------------------------------------------------- */

.card-s-text {
    text-align: center;
    padding-top: 80px;
}

.notes-fail {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}

.not-bad {
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-top: 16px;
}

.card {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    width: 322px;
    height: 300px;
    background-color: white;
    box-shadow: 0 8px 20px rgba(148, 144, 144, 0.12);
    border-radius: 8px;

}

.card:hover {
    transform: translateY(-12px); 
    box-shadow: 0 14px 32px rgba(148, 144, 144, 0.25);
}

.icon-box {
  width: 60px;
  height: 60px;
  background: #F95555;       
  border-radius: 50%;  
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
}

.card h6 {
    font-size: 24px;
    font-weight: semibold;
    padding: 8px 0;
}

.card p {
    text-align: center;
    margin: 0 24px;
    color: #627382;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-top: 48px;
    padding-bottom: 120px;
}

.forgetting {
    text-align: center;
}



/* Solution Section CSS-------------------------------------------------------------------------------------------- */


.solution-section {
    display: flex;
    margin: 0 auto;
    align-items: center;
    gap: 60px;
    max-width: 1360px;
    padding-bottom: 120px;
    
}

.sol-left-part{
    max-width: 600px;
    max-height: 600px;
}
.sol-right-part {
    display: flex;
    flex-direction: column;
}

.sol-p1 {
    font-size: 16px;
    font-weight: medium;
    color: #30B868 ;
}
.sol-p2 {
    font-size: 48px;
    font-weight: bold;
    color: black ;
    padding: 16px 0;
}
.sol-p3 {
    font-size: 16px;
    font-weight: 400;
    color: #627382 ;
    padding-bottom: 40px;
}
.cheek {
    display: flex;
}

.cheek p {
    padding-left: 6px;
}

.cheek2 {
    padding: 16px 0;
}
.cheek3 {
    padding-bottom: 16px ;
}



/* Challenge Section CSS -------------------------------------------------------------------------------- #001931*/

.challenge-section {
    
    padding-bottom: 120px;
    
}

.challenge-div {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    background-color: #F7F6F2;
    max-width: 1360px;
    border-radius: 12px;
}

.clng-p1 {
    font-size: 40px;
    font-weight: bold;
    color: black ;
    padding-top: 80px;
}
.clng-p2 {
    font-size: 16px;
    font-weight: 400;
    color: #627382 ;
    text-align: center;
    padding-bottom: 24px;
    padding-top: 16px;
}

.clng-p3 {
     font-size: 16px;
    font-weight: 400;
    color: #627382 ;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 80px;
}

.clng-btn {
    font-size: 16px;
    font-weight: semibold;
    color: white;
    background-color: rgba(70, 145, 101, 1);
    width: 194px;
    height: 52px;
    border-radius: 4px;
    border: none;  
}

.clng-btn:hover {
    background-color: rgb(12, 76, 41);
    transform: translateY(-2px);   
    box-shadow: 0 6px 14px rgba(0,0,0,0.2);
}

.clng-btn i {
  margin-left: 16px;
}



/* Footer Section CSS ------------------------------------------------------------------------------------ */


.divider {
    width: 80%;
    height: 1px;
    background-color: #404244;
    margin: 0 auto 32px;
}
.footer-section {
    background-color: #001931;
    padding-top: 120px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
    max-width: 1360px;
    margin: 0 auto;
    padding-bottom: 80px ;
}


.footer-p {
    font-size: 20px;
    font-weight: medium;
    color: white ;
    padding-bottom: 16px;
}

.mid-logo {
    padding: 0 16px;
}


.copyright {
    text-align: center;
    padding-bottom: 30px;
    font-size: 16px;
    font-weight: 400;
    color: #fafafa82 ;
}